<div>
	<div class="row">
		<div class="col-md-8">
			<textarea id="code-screen">{{content}}</textarea>
		</div>
		<div class="col-md-4" id="chatbox">
			<div class="card border-secondary">
				<div id="video-container">
					<video autoplay id="second-video"></video>
					<video autoplay id="my-video" muted="true"></video>
					<div id="step2">
						<p>Your ID: <span id="my-id">...</span></p>
						<div class="form-inline">
							<input type="text" class="form-control" placeholder="call user ID..." id="callto-id">
							<a href="#" class="btn btn-sm btn-success" id="make-call">Call</a>
						</div>
					</div>
					<div id="step3">
						<p>Talk to <span id="second-id">...</span></p>
						<a href="#" class="btn btn-sm btn-danger" id="end-call">End call</a>
					</div>
				</div>
				<div class="card-header">
					CHAT ROOM
					<span style="float: right;" id="chatbox-username">
						{{#if user}}
							{{user.name}}
						{{/if}}
					</span>
				</div>
				<div class="card-body">
					<ul class="media-list" style="height: 200px; overflow-y: scroll" id="chatbox-listMessages">
						<div id="displayChat"></div>
					</ul>
				</div>
				<div class="card-footer">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Enter Message" id="userMessage">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" onclick="sendMessage()">SEND</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<input type="hidden" value="{{roomId}}" id="roomId">

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.46.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.46.0/mode/javascript/javascript.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="/plugins/ot/ot.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
	var EditorClient = ot.EditorClient;
	var SocketIOAdapter = ot.SocketIOAdapter;
	var CodeMirrorAdapter = ot.CodeMirrorAdapter;
	
	var socket = io.connect('http://localhost:3000');
	
	var editor = CodeMirror.fromTextArea(document.getElementById("code-screen"), {
		lineNumbers: true,
		theme: "monokai",		
	});
	editor.setSize(1024, 600);
	
	var code = document.getElementById('code-screen').innerText;
	var cmClient;
	function init(str, revision, clients, serverAdapter) {
		if (!code) {
			editor.setValue(str);	
		}		
		cmClient = window.cmClient = new EditorClient(
			revision, clients, serverAdapter, new CodeMirrorAdapter(editor)
		);
	};
	socket.on('doc', function(obj) {
		init(obj.str, obj.revision, obj.clients, new SocketIOAdapter(socket));
	})
	
	var username = document.getElementById("chatbox-username").innerText;
	if (username === "") {
		var userId = Math.floor(Math.random() * 9999).toString();
		username = "User" + userId;
		document.getElementById("chatbox-username").innerText = username;		
	}
	
	var roomId = $('#roomId').val();
	socket.emit('joinRoom', {room: roomId, username: username});
	
	var userMessage = function(name, text) {
		return ('<li class="media"><div class="media-body"><div class="media">' + 
			'<div class="media-body"' + 
			'<b>' + name + '</b> : ' + text +
			'<hr/></div></div></div></li>'
		);
	};
	
	var sendMessage = function() {
		var userMessage = $('#userMessage').val();
		socket.emit('chatMessage', {message: userMessage, username: username});
		console.log(userMessage.innerText);
		$('#userMessage').val("");
	};
	
	socket.on('chatMessage', function(data) {
		//$('#chatbox-listMessages').append(userMessage(data.username, data.message));
		var chatMessages = document.getElementById('chatbox-listMessages');
		var displayChat = document.createElement('span');
		displayChat.innerHTML = userMessage(data.username, data.message);		
		chatMessages.appendChild(displayChat);
	})
	
</script>